{% extends 'workingholiday/head.html' %}
{% load staticfiles %}


{% block content %}
    <!-- Header -->
     <header style="background-image: url('{% static 'css/images/IMG_20160610_003426.jpg' %}');">
        <div class="container animated-delay fadeIn">
            <div class="intro-text ">
                <div class="intro-lead-in ">很抱歉，您尚未發布店家資料，</div>
                <br>
                <div class="intro-lead-in ">點選下方按鈕立即發佈 !</div>
                <br><br>
                <button class="btn btn-primary btn-lg "><a id="post" style="color:white" >發佈</a></button>  
               

        </div>
        </div>
 

    
    </header>
    
    <!-- Services Section -->

 {% endblock content %}